<div id="wrap">
	<div id="main" class="container clear-top">
		<div class="row row-padding-bottom">
			<div class="span12">
				<section id="services">
					<div class="center-block-margin">
						<div class="container">
							<div class="container bg-primary-verde">
								<div class="row text-left">
									<h3 class="texto-verde">¿Qué es MiNegocio.mx?</h3>

									<p class ="bg-primary-nergro">Orientada a empresarios, MiNegocio.mx es una plataforma cuyo principal objetivo es brindar información en lenguaje ciudadano sobre los procesos de apertura de una empresa, trámites e inspecciones o verificaciones. </p>

									<p class ="bg-primary-nergro"><strong>Proceso de apertura de la empresa.</strong> MiNegocio.mx dispone de información sobre los trámites federales y municipales necesarios para la apertura de una empresa dadas las actividades económicas que se deseen realizar. En el caso de los trámites municipales se presentan los requisitos necesarios para tramitar la licencia de funcionamiento.</p>


									<p class ="bg-primary-nergro"><strong>Trámites.</strong> La aplicación ofrece información sobre los requisitos específicos de trámites municipales y sobre qué trámites aplican para qué giros, así como de su costo y dónde realizarlos.</p>

									<p class ="bg-primary-nergro"><strong>Inspecciones o verificaciones.</strong>  Se presenta información paso a paso sobre el proceso de inspección así como de quiénes están habilitados para realizarlas.</p>

									<h3 class="texto-verde">¿Cuáles son los beneficios para el empresario?</h3>

									<p class ="bg-primary-nergro">Hacer disponible la información permite al empresario preparar los requisitos de cualquier trámite municipal, lo cual disminuye el tiempo requerido en esta tarea. Además, MiNegocio.mx ayuda a prevenir sobre actos de corrupción comunes en los procesos de inspecciones y verificaciones. </p>

									<h3 class="texto-verde">¿Cuáles son los beneficios para el municipio?</h3>

									<p class ="bg-primary-nergro"><strong>MiNegocio.mx</strong> mejora y hace más directa la comunicación entre los gobiernos municipales y sus empresarios. Además, el proceso de implementación de MiNegocio.mx ayuda al desarrollo y reforzamiento de  habilidades  tecnológicas de las administraciones municipales.</p>
									<hr class="small">
									<br><br>
									<p class ="bg-primary-nergro"><strong class="texto-verde">¿Eres un empresario o ciudadano</strong> y deseas que tu municipio se sume a MiNegocio.mx? contactanos a contacto@mimunicipio.mx</p>
									<p class ="bg-primary-nergro"><strong class="texto-verde">¿Formas parte de la adminstración de un municipio</strong> y te gustaría sumarte a MiNegocio.mx? contactanos a municipio@mimunicipio.mx</p>

								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
