<div id="wrap">
	<div id="main" class="container clear-top">
		<div class="row">
			<div class="span12">
				<section id="services">
					<div class="center-block-margin">
						<div class="container">
							<div class="row text-left">
								<h1 class="text-center texto-verde"><p>AVISO DE PRIVACIDAD</p></h1>
								<h2 class="text-center texto-verde-wrap"><p>MI NEGOCIO MÉXICO</p></h2>
								<hr class="small">
								<h3 class="row text-center bg-primary-nergro"><p> <strong>www.minegociomexico.mx</strong> </p></h3>


								<p class ="bg-primary-nergro">El IMCO es una Asociación Civil legalmente constituida conforme a las leyes mexicanas, cuya finalidad es estudiar fenómenos económicos y sociales que afectan la competitividad en el contexto de una economía globalizada, generando propuestas de políticas públicas para fortalecer la competitividad de México influyendo en la agenda de políticas públicas. Su domicilio está ubicado en la calle Alfredo de Musset número 32 colonia Polanco, Delegación Miguel Hidalgo, México, Distrito Federal C.P. 11560 teléfonos 5985-1017 al 19. </p>

								<p class ="bg-primary-nergro">La finalidad del sitio electrónico <strong>www.minegociomexico.mx</strong>  y de sus subdominios es la búsqueda de información y datos de forma que una población más amplia conozca y use la información relacionada con los trámites de apertura y operación de empresas y negocios, de acuerdo con la información proporcionada por los municipios del país. </p>


								<p class ="bg-primary-nergro">El IMCO es el responsable del uso y protección de sus datos personales y por ello le informamos lo siguiente:
									<strong>CONTACTO:</strong> Para el ejercicio del derecho a la protección de datos personales proporcionados al IMCO el contacto es la Lic. Romina Girón en comunicacion@imco.org.mx o a los teléfonos 5985-1017 al 19.
									<strong>TIPO DE INFORMACIÓN OBTENIDA:</strong> Las diferentes categorías de datos a través de los cuales el IMCO recopila información en el portal www.minegociomexico.mx o cualquiera de sus subdominios son (entre otros):
									<UL type = disk >
										<LI>	Nombre </LI>
										<LI>	Dirección de correo electrónico </LI>
										<LI>	Estado y municipio de residencia </LI>
									</UL>

								</p>

								<br>

								<p class ="bg-primary-nergro"><strong>USO DE INFORMACIÓN:</strong> La información proporcionada por el Titular a través del portal <strong>www.minegociomexico.mx</strong>  o cualquiera de sus subdominios es para las siguientes finalidades:
									<UL type = disk >
										<LI>	Envío de noticias e información.</LI>
										<LI>	Medir el uso y mejorar el contenido del sitio web.</LI>
										<LI>	Obtener información para fines estadísticos de consulta.</LI>
										<LI>	Integración a redes sociales como Facebook y Twitter.</LI>
										<LI>	Para geolocalización del Titular que permita presentar propuestas basadas en una ubicación geográfica y contenido relevante para el usuario.</LI>
									</UL>
								</p>

								<h3 class ="texto-verde-wrap">Para mayor información acerca del tratamiento y de los derechos que puede hacer valer, usted puede acceder al aviso de privacidad integral en:  </h3>


							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
