

<%= form_for :post, :url => { :controller => :municipios, :action => :nuevo_negocio } do |f| %>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="input-group">
					<div class="input-group-addon">
						<H3><%=f.label 'Ingresa el giro' %></H3>
						<BR>
						<%= f.select :line, Line.where(municipio_id: @municipio).map { |u| [u.nombre, u.id] },{ include_blank: true }, { class: 'chosen-select' }%>
						</br>
					</div>
				</div>
				<br>
				<%= f.submit 'Continuar', :class => 'btn btn-lg btn-light' %>
			</div>
		</div>
	</div>
<% end %>