<div id="main" class="container clear-top">
	<div class="row">
		<div class="span12">
			<section id="services">
				<div class="center-block-margin">
					<div class="container">
						<h2 class='text-center'><%= t('.title') %></h2><br>
						<%= render 'form' %>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</div>
