<div id="wrap">
  <div id="main" class="container clear-top">
    <div class="row">
      <div class="span12">
        <section id="services ">
            <div class="container">
<div class="bs-example">
  <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
    <!-- Carousel indicators -->
    <%= render "shared/cargar_bolitas_inspecciones" %>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <% count = 0 %>
      <% @inspection.requirements.each_with_index do |requirement, k| %>
          <% count += 1 %>
          <%if count == 1 %>
            <div class="active item">
          <%else %>
            <div class="item">
            <%end %>
              <div class="carousel-caption text-top">
                <h4 class="texto-verde-wrap top-carrusel"><%=requirement.nombre%></h4>
                <p class="texto-negro texto-padding-bottom"><%=requirement.descripcion[0..350] %>
                <br>
                <%=link_to t('.obtener_aqui'), requirement.path , {:style => 'color: #418F61', :target => '_blank'} %></p>
              </div>
              </div>
            <%end%>
        </div>
        <!-- Carousel nav -->
        <a-verde class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" ></span>
        </a-verde>
        <a-verde class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a-verde>
    </div>
  </div>
</div>
</div>
        </section>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
$(document).ready(function(){
    $(".tip-top").tooltip({placement : 'top'});
    $(".tip-right").tooltip({placement : 'right'});
    $(".tip-bottom").tooltip({placement : 'bottom'});
    $(".tip-left").tooltip({ placement : 'left'});
});
</script>

<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
