<!-- Footer -->
<footer>
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-2 col-md-offset-2">
          <%= image_tag "Logoblanco.png", class: "img-responsive ccenter-block" %>
        </div>
        <div class="footer-col col-md-4 ">
          <ul class="list-inline">
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <ul class="list-inline">
            <li>
              <a href="#" ><%= link_to t('footer.acerca_de'), municipio_about_path(@municipio) %></a>
            </li>
            <li>
              <a href="#" ><%= link_to t('footer.aviso'), municipio_aviso_path(@municipio) %></li></a>
            </li>
          </ul>
        </div>    
      </div>
    </div>    
  </div>
</footer>