<div class="row">
  <div class="col-sm-12">
    <%= form_tag custom_path, method: :get do %>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-9">
            <%= text_field_tag :q, nil, class: 'form-controler', placeholder: search_placeholder %>
      </div>
      <div class="clearfix visible-xs-block"></br></div>
      <div class="col-sm-2">
        <%= submit_tag t('search.buscar'), class: 'btn btn-success btn-search outlineverde' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
