<%= form_for :post, :url => { :controller => :municipios, :action => :search } do |f| %>

	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="input-group">
					<div class="input-group-addon">
						<H3><%=f.label 'Ingresa tu municipio' %></H3>
						<BR>
						<%= f.select :municipio, Municipio.all.map { |u| [u.nombre, u.id] },{ include_blank: true }, { class: 'chosen-select' }%>
						</br>
					</div>
				</div>
				<br>
				<%= f.submit 'Continuar', :class => 'btn btn-lg btn-light' %>
			</div>
		</div>
	</div>
<% end %>
<script >
$(document).ready(function(){ 
    $('.chosen-select').chosen({
       allow_single_deselect: true,
       no_results_text: 'No hay resultados',
       placeholder_text: 'Selecciona una opción',
       width: '500px'
    });
})
</script>



