<a href="http://localhost:3000/imcos/tramite" class="btn btn-lg btn-outline">
	<i class="fa fa-download">Tramites</i>
</a>
<a href="http://localhost:3000" class="btn btn-lg btn-outline">
	<i class="fa fa-download">Inspecciones</i>
</a>