<h1>Listing procedure_requirements</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Procedure</th>
      <th>Requirement</th>
    </tr>
  </thead>

  <tbody>
    <% @procedure_requirements.each do |procedure_requirement| %>
      <tr>
        <td>id: <%= procedure_requirement.id %></td>
        <td><%= Procedure.find(procedure_requirement.procedure_id).nombre %></td>
        <td><%= Requirement.find(procedure_requirement.requirement_id).nombre %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
