/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap3-switch
 *= require_tree .
 *= require_self
 *= require chosen
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 // custom stylesheeets
 @import "cards";


// colors
$grey-200: #EEEEEE;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$verde-claro: #4EB976;
$verde-obscuro: #46AA6C;
$teal-500: #009688;
$blanco: #ffffff;
$negro: #000000;
$rojo: #ff0000;

$user_default_color: #009688;
$admin_default_color: #3B3C3C;
$default_text_color: #fff;

// styles

body.info {
 min-height: 2000px;
 padding-top: 70px;
 background-color: #f9f9f9;
}

.navbar-default {
  background-color: $user_default_color;
}

.navbar-admin {
  background-color: $admin_default_color;
}

nav {
  color: $default_text_color;
}

.navbar-nav > li > a {
  &:link {
    color: $default_text_color;
  }

  /* visited link */
  &:visited {
    color: $default_text_color;
  }

  /* mouse over link */
  &:hover {
    color: $admin_default_color;
  }

  /* selected link */
  &:active {
    color: $admin_default_color;
  }
}
.navbar-default .navbar-brand {
    color: #ffffff;
}

.link_image {
  background-color: white;
  border: 1px white solid;
  margin: 15px;
}

.col-md-3 {
width: 33%;
}

.bg-primary {
  background-color: #fff;
}

.container {
width: 1170px;

}

body.info {
min-height: 100%;
padding-top: 70px;
 background-color: #fff;
}

.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #fff;
text-align: center;
background-color: rgba(0,0,0,0);
border: 0px solid #00B26E;
border-radius: 4px;
}



.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #fff;
text-align: center;
background-color: rgba(0,0,0,0);
border: 0px solid #00B26E;
border-radius: 4px;
}

.empty-resource {
  text-align: center;
  color: $grey-500;
}




/*links clase a sobrellamada a */
/* unvisited link */
m{
   color: $verde-obscuro;
   cursor: pointer;
    width:100%;
}

m:link {
    color: $verde-claro;
}

/* visited link */
m:visited {
    color: $verde-claro;
}

/* mouse over link */
m:hover {
    color: $verde-claro;
}

/* selected link */
m:active {
    color: $verde-claro;
}

/*links clase a sobrellamada a */
/* unvisited link */
r{
   color: $rojo;
   cursor: pointer;
    width:100%;
}

r:link {
    color: $rojo;
}

/* visited link */
r:visited {
    color: $rojo;
}

/* mouse over link */
r:hover {
    color: $rojo;
}

/* selected link */
r:active {
    color: $rojo;
}



a{
   color: $blanco;
}
a:link { 
  color: $blanco;
}
a:visited { 
  color: $blanco;
}
a:hover { 
  color: $blanco;
}
a:active { 
  color: $blanco;
}






.navbar-default {
background-color: $verde-obscuro;
}

.navbar-blanco {
background-color: $verde-obscuro;
}
.footer-above {
    background-color: $verde-claro;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}
.carousel{
    width:100%;
    height:360px;
}

body,html{
 height:100%;
 font-family: "Gotham", Arial, sans-serif;
}
.container{
 min-height:92%;
}
.footer{
 height:100%;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}

.chosen-container ul.chosen-results li.highlighted {
  background-color: $verde-obscuro;
  background-image: none;
}

body.modal-open {
    overflow: visible;
}


/********************Tipografias *************************/
h1 {
font-family: Montserrat, sans-serif;
font-weight: 700;
font-size: 24pt;
color: #62B372;
}
h2 {
font-family: Montserrat, sans-serif;
font-weight: 700;
font-size: 18pt;
color: #62B372;
}
h3 {
font-family: Montserrat, sans-serif;
font-weight: 700;
font-size: 16pt;
color: #62B372;
}
h3 {
font-family: Montserrat, sans-serif;
font-weight: 700;
font-size: 14pt;
color: #62B372;
}
p {
font-family: Montserrat, sans-serif;
font-weight: 400;
font-size: 14pt;
color: #777777
}
