/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap3-switch
 *= require_tree .
 *= require_self
 *= require chosen
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 // custom stylesheeets
 @import "cards";


// colors
$grey-200: #EEEEEE;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;

$teal-500: #009688;

$user_default_color: #009688;
$admin_default_color: #3B3C3C;
$default_text_color: #fff;

// styles

body.info {
 min-height: 2000px;
 padding-top: 70px;
 background-color: #f9f9f9;
}

.navbar-default {
  background-color: $user_default_color;
}

.navbar-admin {
  background-color: $admin_default_color;
}

nav {
  color: $default_text_color;
}

.navbar-nav > li > a {
  &:link {
    color: $default_text_color;
  }

  /* visited link */
  &:visited {
    color: $default_text_color;
  }

  /* mouse over link */
  &:hover {
    color: $admin_default_color;
  }

  /* selected link */
  &:active {
    color: $admin_default_color;
  }
}
.navbar-default .navbar-brand {
    color: #ffffff;
}

.link_image {
  background-color: white;
  border: 1px white solid;
  margin: 15px;
}

.col-md-3 {
width: 33%;
}

.bg-primary {
  background-color: #3F9B63;
}

.container {
width: 1170px;

}

body.info {
min-height: 100%;
padding-top: 70px;
// background-color: #3F9B63;
}

.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #fff;
text-align: center;
background-color: rgba(0,0,0,0);
border: 0px solid #00B26E;
border-radius: 4px;
}



.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #fff;
text-align: center;
background-color: rgba(0,0,0,0);
border: 0px solid #00B26E;
border-radius: 4px;
}

.empty-resource {
  text-align: center;
  color: $grey-500;
}

