/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap3-switch
 *= require_tree .
 *= require_self
 *= require chosen
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 // custom stylesheeets
 @import "cards";


// colors
$grey-200: #EEEEEE;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$verde-claro: #4EB976;
$verde-obscuro: #46aa6c;
$teal-500: #009688;
$blanco: #ffffff;
$negro: #000000;
$rojo: #ff0000;

$user_default_color: #009688;
$admin_default_color: #3B3C3C;
$default_text_color: #ffffff;

// styles

html,body
{
height:100%;
}

#wrap
{
min-height: 100%;
}

#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}


.footer
{
position: relative;
margin-top: -80px; /* negative value of footer height */
height: 150px;
clear:both;
padding-top:10px;
color:#fff;
background-color: $verde-claro;
text-align: center;
}

body.info {
 padding-top: 70px;
 background-color: #f9f9f9;
}

.navbar-default {
  background-color: $user_default_color;
}

.navbar-admin {
  background-color: $admin_default_color;
}

nav {
  color: $blanco;
}

.navbar-nav > li > a {
  &:link {
    color: $blanco;
  }

  /* visited link */
  &:visited {
    color: $blanco;
  }

  /* mouse over link */
  &:hover {
    color: $blanco;
  }

  /* selected link */
  &:active {
    color: $blanco;
  }
}
.navbar-default .navbar-brand {
    color: #ffffff;
}

.link_image {
  background-color: white;
  border: 1px white solid;
  margin: 15px;
}

.col-md-3 {
width: 33%;
}

.bg-primary {
  background-color: #fff;
}

.container {
width: 100%;
}

body.info {
min-height: 100%;
padding-top: 70px;
 background-color: #fff;
}

.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #fff;
text-align: center;
background-color: rgba(0,0,0,0);
border: 0px solid #00B26E;
border-radius: 4px;
}



.input-group-addon {
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #fff;
text-align: center;
background-color: rgba(0,0,0,0);
border: 0px solid #00B26E;
border-radius: 4px;
}

.empty-resource {
  text-align: center;
  color: $grey-500;
}


/******************************zona de A****************/

/*************************a-verde******************/
a-verde{
   color: $verde-claro;
   cursor: pointer;
    width:100%;
}

a-verde:link {
    color: $verde-claro;
}

/* visited link */
a-verde:visited {
    color: $verde-claro;
}

/* mouse over link */
a-verde:hover {
    color: $verde-claro;
}

/* selected link */
a-verde:active {
    color: $verde-claro;
}


/*************************a******************/
a{
   color: $blanco;
   cursor: pointer;
    width:100%;
}

a:link {
    color: $blanco;
}

/* visited link */
a:visited {
    color: $blanco;
}

/* mouse over link */
a:hover {
    color: $blanco;
}

/* selected link */
a:active {
    color: $blanco;
}


/**********************textos de colores*****************/
texto-blanco{
   color: $blanco !important;
    width:100%;
}

.texto-verde{
   color: $verde-obscuro !important;
    width:100%;
}






.navbar-nav {
  margin: 10px 5px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #009688;
  border-color: #337ab7;
}

/*********************DROP DOWN****************************/
.dropdown-menu {
  border: 1px solid$verde-obscuro;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  border: 2px solid #4eb976;
}
.main-menu li a:focus + ul {
    display: block;
}

 .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: $blanco;
    color: $verde-obscuro;
  }


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $blanco;
}


section{
  width: 100%;
}