/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap3-switch
 *= require_tree .
 *= require_self
 *= require chosen
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 // custom stylesheeets
 @import "cards";


// colors
$grey-200: #EEEEEE;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$verde-claro: #4EB976;
$verde-obscuro: #46aa6c;
$teal-500: #009688;
$blanco: #ffffff;
$negro: #000000;
$rojo: #ff0000;

$user_default_color: #46aa6c;
$admin_default_color: #3B3C3C;
$default_text_color: #ffffff;

// styles

html,body
{
height:100%;
font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: #777777
}

#wrap
{
min-height: 100%;
}

#main
{
overflow:auto;
padding-bottom: 0px; /* this needs to be bigger than footer height*/
}


.footer
{
position: relative;
margin-top: -80px; /* negative value of footer height */
height: 150px;
clear:both;
padding-top:10px;
color:#fff;
background-color: #46aa6c !important;
text-align: center;
padding: 10px 7%;
}

.img-responsive-footer {
  display: block;
  max-width: 65%;
  height: auto;
  margin-left: 25%;
}
.text-right {
  text-align: right;
}

body.info {
 padding-top: 70px;
 background-color: #f9f9f9;
}

.navbar-default {
  background-color: $user_default_color;
}

.navbar-admin {
  background-color: $admin_default_color;
}

nav {
  color: $blanco;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14pt;
}

.navbar-nav > li > a {
  &:link {
    color: $blanco;
  }

  /* visited link */
  &:visited {
    color: $blanco;
  }

  /* mouse over link */
  &:hover {
    color: $blanco;
  }

  /* selected link */
  &:active {
    color: $blanco;
  }
}
.navbar-default .navbar-brand {
    color: #ffffff;
}

.link_image {
  background-color: white;
  border: 1px white solid;
  margin: 15px;
}

.col-md-3 {
width: 33%;
}

.bg-primary {
  background-color: #fff;
}

.container {
width: 100%;
}

body.info {
min-height: 100%;
padding-top: 70px;
 background-color: #fff;
}

.input-group-addon {
padding: 6px 12px;
font-size: 14px;
height: 45px !important;
font-weight: normal;
line-height: 1;
color: #fff;
text-align: center;
background-color: rgba(0,0,0,0);
border: 0px solid #00B26E;
border-radius: 4px;
}

.form-controler {
  display: block;
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



.empty-resource {
  text-align: center;
  color: $grey-500;
}


/******************************zona de A****************/

/*************************a-verde******************/
a-verde{
   color: $verde-claro;
   cursor: pointer;
    width:100%;
    font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14pt;
}

a-verde:link {
    color: $verde-claro;
}

/* visited link */
a-verde:visited {
    color: $verde-claro;
}

/* mouse over link */
a-verde:hover {
    color: $verde-claro;
}

/* selected link */
a-verde:active {
    color: $verde-claro;
}


/*************************a******************/
a{
   color: $blanco;
   cursor: pointer;
   font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14pt;
}

a:link {
    color: $blanco;
}

/* visited link */
a:visited {
    color: $blanco;
}

/* mouse over link */
a:hover {
    color: $blanco;
}

/* selected link */
a:active {
    color: $blanco;
}


/**********************textos de colores*****************/
texto-blanco{
  color: $blanco !important;
  width:100%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14pt;
}

.texto-verde{
   color: $verde-obscuro !important;
    width:100%;
}

.texto-negro{
   color: $negro !important;
    width:100%;
}

.texto-negro-wrap{
   color: $negro !important;
}

.texto-verde-wrap{
   color: $verde-obscuro !important;
}

.texto-padding-left{
padding-left: 10px;
padding-top: 10px;

}

.texto-padding-center{
  padding-left: 15%;
  padding-right: 15%;
  padding-top:10px;
  padding-bottom: 10px;
  text-align: center;
  }

.texto-padding-bottom{
padding-bottom: 15px;
}



.texto-padding-top{
padding-top: 10px;
}

.navbar-nav {
  margin: 10px 5px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #009688;
  border-color: #337ab7;
}

/*********************DROP DOWN****************************/
.dropdown-menu {
  border: 1px solid$verde-obscuro;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  border: 2px solid #4eb976;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #4EB976;
}
.open > .dropdown-menu {
  display: block;
  margin-left: 30px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: $verde-obscuro;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover{
 color: $verde-obscuro;
 background-color: $blanco;
}

.dropdown-menu > li > a:active{
 color: $verde-obscuro;
 background-color: $blanco;
}

.main-menu li a:focus + ul {
    display: block;
}

 .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: $blanco;
    color: $verde-obscuro;
  }


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $blanco;
}


section{
  width: 100%;
}


/*utiizado en el footer*/
.center-block-padding {
  display: block;
  padding-left: 5%;
  padding-right: 17%;
  text-align: center

}
/*utilizado en el menu para centrar las bolitas*/
.center-block-margin {
  display: block;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;

}

.center-block{
  padding-top: 12%;
}

.full-width{
width: 100%;
}
.half-width{
width: 80%;
}


@media (min-width: 768px) {
  /* line 233, /Users/mikesaurio/.rvm/gems/ruby-2.2.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav {
    float: left;
    margin: 0;
       padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 271, /Users/mikesaurio/.rvm/gems/ruby-2.2.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav > li {
    float: left;
  }
  /* line 273, /Users/mikesaurio/.rvm/gems/ruby-2.2.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}



.chosen-container ul.chosen-results li.highlighted {
  background-color: $verde-claro;
  background-image: none;
}
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  width: 100% !important;
}

/*carrusel*************/
.item{
    background: #ffffff;    
    text-align: top;
    min-height: 300px !important;

}
.carousel{
    padding-top: 0px;
}

.carousel-content {
    color:black;
/*    display:flex;*/
    align-items:center;
}

.carousel-control{
    height: 300px !important;
    color: rgb(78, 185, 118);
}
.carousel-control:hover{
    height: 280px !important;
    color: rgb(78, 185, 118);
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid rgb(0, 150, 136);
  border-radius: 10px;
  cursor: pointer;
  background-color: $verde-obscuro;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators lir {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid $rojo;
  border-radius: 10px;
  cursor: pointer;
  background-color: #46aa6c;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: $verde-obscuro;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 0px 0px rgba(0,0,0,.6) !important;


}

.carousel-inner {
  position: relative;
  overflow: scroll;
  width: 100%;
}


.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}


.carousel-indicators {
  bottom: 20px;
  position: relative;
}
.bs-example{
  margin: 20px;
}


/******************paginacion*******************/


.pagination a{
  color: #000;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14pt;
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: $verde-claro;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid $blanco;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}






/*********************************tipografia***********************/
h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24pt;
  color: #62B372;
}
h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18pt;
  color: #62B372;
}
h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16pt;
  color: #62B372;
}
h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 14pt;
  color: #62B372;
}
p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: #777777
}

p-blanco {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: $blanco;
}


/***************************BR************************/
espacio{
    margin: 10px 0 10px 0;
    display: block;
}
