.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-responsive {
max-width: 70%; /* or to whatever you want here */
max-height: auto; /* or to whatever you want here */
}

.centered-text {
    text-align:center
}   

.modal-dialog-center {
    margin-top: 25%;
}