.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-responsive {
max-width: 70%; /* or to whatever you want here */
max-height: auto; /* or to whatever you want here */
}

/*links clase a sobrellamada a */
/* unvisited link */
m{
	 color: #469D59;
}

m:link {
    color: #469D59;
}

/* visited link */
m:visited {
    color: #469D59;
}

/* mouse over link */
m:hover {
    color: #469D59;
}

/* selected link */
m:active {
    color: #469D59;
}

