// colors
$grey-200: #EEEEEE;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$verde-claro: #4EB976;
$verde-obscuro: #46AA6C;
$teal-500: #009688;
$blanco: #ffffff;
$negro: #000000;
$rojo: #ff0000;




.img-responsive {
padding-top: 0%;
max-width: 100%; /* or to whatever you want here */
max-height: auto; /* or to whatever you want here */
}

.navbar-text-blanco{
    color: #ffffff;
    margin:40px 0px 20px 0px;
    text-align:center;
}
.btn-lg-social {
   width: 100%;
}

.modal-dialog-center {
    margin-top: 25%;
    margin-left: 30%;
    margin-right: 30%;
}

.divide-8{
  width: 10%;
}


